body{
    font-family: 'Pacifico', cursive;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow: hidden;
}
.navbar{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
}
.nav-item{
    color: black;
}

#image{
    text-align: center;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.3)),url(../web2.jpg);
    height:85vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 12px;
background-attachment: fixed;    
}
#section{
    padding: 15px;
}
.text{
    color: white;
    position: relative;
    top: 42%;
}
.sub{
font-size: 20px;
font-weight: 50;

}
.projects{
    text-align: center;
}
.row{
padding: 15px;
}
.card{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}